.header{
    display: flex;
    justify-content: center;}
.name{
    font-size: 3cm;
    color: lightblue;
}
body{
    background-color: black;
}
.all{
    flex-direction: column;
    display: flex;
    align-items: center;}
#opt{
    display: block;
    width: 60px;

}
#texto{
    background-color: blue;
     color: aquamarine;
}